In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import average_precision_score
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import hamming_loss
import warnings
warnings.filterwarnings(action='ignore')

# 메뉴

In [2]:
df = pd.read_excel('../data/input_data.xlsx')
df.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [3]:
X1 = df[["메뉴"]].to_numpy()
y1 = np.asarray(df[df.columns[3:18]])

In [4]:
X1, X1.shape

(array([[ 5],
        [ 8],
        [15],
        ...,
        [ 8],
        [ 8],
        [ 8]], dtype=int64),
 (1974, 1))

In [5]:
y1, y1.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [6]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)

In [7]:
clf1 = MLPClassifier(activation='logistic', random_state=42).fit(X1_train, y1_train)

In [8]:
clf1.predict(X1_test[:5])

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [9]:
y1_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [10]:
y1_pred = clf1.predict(X1_test)
hamming_loss(y1_test, y1_pred)

0.1524966261808367

In [11]:
y1_proba = clf1.predict_proba(X1_test)

In [12]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y1_test[:, i], y1_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y1_test[i], y1_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.5777777777777777
2 class's AP:  0.75
3 class's AP:  0.8333333333333333
4 class's AP:  0.5138888888888888
5 class's AP:  0.375
6 class's AP:  -0.0
7 class's AP:  0.5074074074074074
8 class's AP:  0.34090909090909094
9 class's AP:  0.18333333333333335
10 class's AP:  0.17692307692307693
11 class's AP:  -0.0
12 class's AP:  0.75
13 class's AP:  0.2111111111111111
14 class's AP:  0.5888888888888889
15 class's AP:  0.24074074074074076
0.21815580286595254

# 메뉴 + 빵, 치즈

In [13]:
df.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [14]:
X2 = df[["메뉴", "빵", "치즈"]].to_numpy()
y2 = np.asarray(df[df.columns[3:18]])

In [15]:
X2, X2.shape

(array([[ 5,  3,  1],
        [ 8,  3,  2],
        [15,  3,  2],
        ...,
        [ 8,  6,  2],
        [ 8,  6,  3],
        [ 8,  6,  4]], dtype=int64),
 (1974, 3))

In [16]:
y2, y2.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [17]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=42)

In [18]:
clf2 = MLPClassifier(activation='logistic', random_state=42).fit(X2_train, y2_train)

In [19]:
clf2.predict(X2_test[:5])

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [20]:
y2_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [21]:
y2_pred = clf2.predict(X2_test)
hamming_loss(y2_test, y2_pred)

0.15236167341430498

In [22]:
y2_proba = clf2.predict_proba(X2_test)

In [23]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y2_test[:, i], y2_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y2_test[i], y2_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.5535714285714286
2 class's AP:  0.45
3 class's AP:  0.8333333333333333
4 class's AP:  0.5138888888888888
5 class's AP:  0.2777777777777778
6 class's AP:  -0.0
7 class's AP:  0.5074074074074074
8 class's AP:  0.5769230769230769
9 class's AP:  0.16666666666666666
10 class's AP:  0.18333333333333335
11 class's AP:  -0.0
12 class's AP:  1.0
13 class's AP:  0.25
14 class's AP:  0.5888888888888889
15 class's AP:  0.2388888888888889
0.23269626917686065

# 메뉴 + 빵, 치즈 + 설명

In [24]:
df.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [25]:
X3 = df.drop(columns=['랜치', '마요네즈', '스위트 어니언', '허니 머스타드', '스위트 칠리', '핫 칠리', '사우스웨스트 치폴레',
                         '머스타드', '홀스래디쉬', '올리브 오일', '레드와인식초', '소금', '후추', '스모크 바비큐', '이탈리안 드레싱'])
X3 = X3.to_numpy()
X3, X3.shape

(array([[ 5.        ,  3.        ,  1.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 8.        ,  3.        ,  2.        , ...,  0.07729536,
          0.        ,  0.        ],
        [15.        ,  3.        ,  2.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [ 8.        ,  6.        ,  2.        , ...,  0.07729536,
          0.        ,  0.        ],
        [ 8.        ,  6.        ,  3.        , ...,  0.07729536,
          0.        ,  0.        ],
        [ 8.        ,  6.        ,  4.        , ...,  0.07729536,
          0.        ,  0.        ]]),
 (1974, 380))

In [26]:
y3 = np.asarray(df[df.columns[3:18]])
y3, y3.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [27]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, random_state=42)

In [28]:
clf3 = MLPClassifier(activation='logistic', random_state=42).fit(X3_train, y3_train)

In [29]:
clf3.predict(X3_test[:5])

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [30]:
y3_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [31]:
y3_pred = clf3.predict(X3_test)
hamming_loss(y3_test, y3_pred)

0.13751686909581645

In [32]:
y3_proba = clf3.predict_proba(X3_test)

In [33]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y3_test[:, i], y3_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y3_test[i], y3_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.5694444444444444
2 class's AP:  1.0
3 class's AP:  0.6805555555555556
4 class's AP:  0.8333333333333333
5 class's AP:  0.6666666666666666
6 class's AP:  -0.0
7 class's AP:  0.7916666666666666
8 class's AP:  0.45
9 class's AP:  0.75
10 class's AP:  0.35
11 class's AP:  -0.0
12 class's AP:  0.75
13 class's AP:  0.325
14 class's AP:  0.8666666666666667
15 class's AP:  0.3619047619047619
0.43975425249748656

# 샘플링 된 데이터를 통해 학습

In [34]:
df_sampled = pd.read_excel('../data/input_data(2).xlsx')

In [35]:
df_sampled.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [36]:
X4 = df_sampled.drop(columns=['랜치', '마요네즈', '스위트 어니언', '허니 머스타드', '스위트 칠리', '핫 칠리', '사우스웨스트 치폴레',
                         '머스타드', '홀스래디쉬', '올리브 오일', '레드와인식초', '소금', '후추', '스모크 바비큐', '이탈리안 드레싱'])
X4 = X4.to_numpy()
X4, X4.shape

(array([[ 5.        ,  3.        ,  1.        , ...,  0.        ,
          0.        ,  0.        ],
        [ 8.        ,  3.        ,  2.        , ...,  0.07729536,
          0.        ,  0.        ],
        [15.        ,  3.        ,  2.        , ...,  0.        ,
          0.        ,  0.        ],
        ...,
        [15.        ,  3.        ,  4.        , ...,  0.        ,
          0.        ,  0.        ],
        [15.        ,  4.        ,  4.        , ...,  0.        ,
          0.        ,  0.        ],
        [15.        ,  5.        ,  4.        , ...,  0.        ,
          0.        ,  0.        ]]),
 (8640, 380))

In [37]:
y4 = np.asarray(df_sampled[df_sampled.columns[3:18]])
y4, y4.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (8640, 15))

In [38]:
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, random_state=42)

In [39]:
clf4 = MLPClassifier(activation='logistic', random_state=42).fit(X4_train, y4_train)

In [40]:
clf4.predict(X4_test[:5])

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [41]:
y4_test[:5]

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [42]:
y4_pred = clf4.predict(X4_test)
hamming_loss(y4_test, y4_pred)

0.10901234567901234

In [43]:
y4_proba = clf4.predict_proba(X4_test)

In [44]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y4_test[:, i], y4_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y4_test[i], y4_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  1.0
2 class's AP:  1.0
3 class's AP:  0.31997863247863245
4 class's AP:  0.8095238095238095
5 class's AP:  0.8055555555555556
6 class's AP:  0.5833333333333333
7 class's AP:  0.5119047619047619
8 class's AP:  1.0
9 class's AP:  1.0
10 class's AP:  1.0
11 class's AP:  1.0
12 class's AP:  0.7
13 class's AP:  1.0
14 class's AP:  1.0
15 class's AP:  1.0
0.5589051021564193

# GridSearchCV를 이용한 Hyperparameter tuning

In [45]:
from sklearn.model_selection import GridSearchCV

In [46]:
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, test_size=0.2, random_state=42)

In [47]:
param = {'hidden_layer_sizes': [i for i in range(50, 110, 10)],
         'batch_size': [32, 64],
        'activation': ['logistic'],
        'max_iter': [10000],
        'random_state': [42]}

In [48]:
gs = GridSearchCV(estimator=MLPClassifier(),param_grid=param, n_jobs=-1, scoring='average_precision')

In [49]:
gs.fit(X4_train, y4_train)

GridSearchCV(estimator=MLPClassifier(), n_jobs=-1,
             param_grid={'activation': ['logistic'], 'batch_size': [32, 64],
                         'hidden_layer_sizes': [50, 60, 70, 80, 90, 100],
                         'max_iter': [10000], 'random_state': [42]},
             scoring='average_precision')

In [50]:
cv_results_df = pd.DataFrame(gs.cv_results_)

In [51]:
cv_results_df.columns

Index(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time',
       'param_activation', 'param_batch_size', 'param_hidden_layer_sizes',
       'param_max_iter', 'param_random_state', 'params', 'split0_test_score',
       'split1_test_score', 'split2_test_score', 'split3_test_score',
       'split4_test_score', 'mean_test_score', 'std_test_score',
       'rank_test_score'],
      dtype='object')

In [52]:
result = cv_results_df[['param_batch_size', 'param_hidden_layer_sizes', 'mean_test_score', 'rank_test_score']]

In [53]:
result.sort_values(by='rank_test_score')

   param_batch_size param_hidden_layer_sizes  mean_test_score  rank_test_score
7                64                       60         0.562857                1
0                32                       50         0.562834                2
3                32                       80         0.561921                3
8                64                       70         0.561605                4
11               64                      100         0.561536                5
6                64                       50         0.561375                6
9                64                       80         0.561360                7
5                32                      100         0.561280                8
2                32                       70         0.561279                9
1                32                       60         0.560671               10
4                32                       90         0.560204               11
10               64                       90         0.560015               12

In [54]:
clf5 = gs.best_estimator_

In [55]:
clf5.fit(X4_train, y4_train)

MLPClassifier(activation='logistic', batch_size=64, hidden_layer_sizes=60,
              max_iter=10000, random_state=42)

In [56]:
clf5.predict(X4_test[:5])

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [57]:
y4_test[:5]

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [58]:
y5_pred = clf5.predict(X4_test)
hamming_loss(y4_test, y5_pred)

0.10887345679012346

In [59]:
y5_proba = clf5.predict_proba(X4_test)

In [60]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y4_test[:, i], y5_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y4_test[i], y5_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  1.0
2 class's AP:  1.0
3 class's AP:  0.3256604506604507
4 class's AP:  1.0
5 class's AP:  0.6666666666666666
6 class's AP:  1.0
7 class's AP:  0.5285714285714286
8 class's AP:  1.0
9 class's AP:  1.0
10 class's AP:  1.0
11 class's AP:  1.0
12 class's AP:  0.6666666666666666
13 class's AP:  1.0
14 class's AP:  1.0
15 class's AP:  0.9166666666666665
0.5803919687915035