In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import average_precision_score
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import hamming_loss
import warnings
warnings.filterwarnings(action='ignore')

# 메뉴

In [4]:
df = pd.read_excel('../data/One-Hot.xlsx')
df2 = pd.read_excel('../data/input_data.xlsx')

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [5]:
df.head()

,쉬림프,로티세리 바비큐 치킨,이탈리안 비엠티,로스트 치킨,에그마요,K-바비큐,풀드 포크 바비큐,비엘티,햄,참치,...,367,368,369,370,371,372,373,374,375,376
0,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0,0,0,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [6]:
df2.head()

,메뉴,빵,치즈,랜치,마요네즈,스위트 어니언,허니 머스타드,스위트 칠리,핫 칠리,사우스웨스트 치폴레,...,367,368,369,370,371,372,373,374,375,376
0,5,3,1,0,0,0,1,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,8,3,2,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,15,3,2,0,0,0,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,5,5,2,0,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2,5,1,1,0,1,0,1,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [7]:
X1 = df.iloc[:, :15].to_numpy()
y1 = df2.iloc[:, 3:18].to_numpy()

In [8]:
X1, X1.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 1],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64),
 (1974, 15))

In [9]:
y1, y1.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [10]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)

In [11]:
clf1 = MLPClassifier(activation='logistic', random_state=42).fit(X1_train, y1_train)

In [12]:
clf1.predict(X1_test[:5])

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [13]:
y1_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [14]:
y1_pred = clf1.predict(X1_test)
hamming_loss(y1_test, y1_pred)

0.1377867746288799

In [15]:
y1_proba = clf1.predict_proba(X1_test)

In [16]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y1_test[:, i], y1_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y1_test[i], y1_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.6095238095238096
2 class's AP:  1.0
3 class's AP:  0.6111111111111112
4 class's AP:  0.8095238095238095
5 class's AP:  0.7
6 class's AP:  -0.0
7 class's AP:  0.7916666666666666
8 class's AP:  0.5
9 class's AP:  0.75
10 class's AP:  0.3611111111111111
11 class's AP:  -0.0
12 class's AP:  0.8333333333333333
13 class's AP:  0.325
14 class's AP:  1.0
15 class's AP:  0.3619047619047619
0.38911953144117173

# 메뉴 + 빵, 치즈

In [17]:
df.head()

,쉬림프,로티세리 바비큐 치킨,이탈리안 비엠티,로스트 치킨,에그마요,K-바비큐,풀드 포크 바비큐,비엘티,햄,참치,...,367,368,369,370,371,372,373,374,375,376
0,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0,0,0,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [18]:
X2 = df.iloc[:, :25].to_numpy()
y2 = y1

In [19]:
X2, X2.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 1, 0, 0],
        [0, 0, 0, ..., 1, 0, 0],
        ...,
        [0, 0, 0, ..., 1, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 0, 1]], dtype=int64),
 (1974, 25))

In [20]:
y2, y2.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [21]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=42)

In [22]:
clf2 = MLPClassifier(activation='logistic', random_state=42).fit(X2_train, y2_train)

In [23]:
clf2.predict(X2_test[:5])

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [24]:
y2_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [25]:
y2_pred = clf2.predict(X2_test)
hamming_loss(y2_test, y2_pred)

0.1377867746288799

In [26]:
y2_proba = clf2.predict_proba(X2_test)

In [27]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y2_test[:, i], y2_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y2_test[i], y2_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.5777777777777777
2 class's AP:  0.8333333333333333
3 class's AP:  0.5777777777777777
4 class's AP:  0.7916666666666666
5 class's AP:  0.6666666666666666
6 class's AP:  -0.0
7 class's AP:  0.8095238095238095
8 class's AP:  0.5
9 class's AP:  0.8333333333333333
10 class's AP:  0.375
11 class's AP:  -0.0
12 class's AP:  0.75
13 class's AP:  0.325
14 class's AP:  0.8666666666666667
15 class's AP:  0.25757575757575757
0.4253924260998211

# 메뉴 + 빵, 치즈 + 설명

In [28]:
df.head()

,쉬림프,로티세리 바비큐 치킨,이탈리안 비엠티,로스트 치킨,에그마요,K-바비큐,풀드 포크 바비큐,비엘티,햄,참치,...,367,368,369,370,371,372,373,374,375,376
0,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0,0,0,0,0,0,0,1,0,0,...,0.0,0.086614,0.0,0.000000,0.0,0.0,0.099747,0.077295,0.000000,0.000000
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0,0,0,0,1,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0,1,0,0,0,0,0,0,0,0,...,0.0,0.000000,0.0,0.142475,0.0,0.0,0.000000,0.000000,0.142475,0.142475

In [29]:
X3 = df.to_numpy()
X3, X3.shape

(array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.07729536, 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.07729536, 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.07729536, 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.07729536, 0.        ,
         0.        ]]),
 (1974, 402))

In [30]:
y3 = y2
y3, y3.shape

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        ...,
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0],
        [0, 0, 0, ..., 0, 1, 0]], dtype=int64),
 (1974, 15))

In [31]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, random_state=42)

In [32]:
clf3 = MLPClassifier(activation='logistic', random_state=42).fit(X3_train, y3_train)

In [33]:
clf3.predict(X3_test[:5])

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [34]:
y3_test[:5]

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [35]:
y3_pred = clf3.predict(X3_test)
hamming_loss(y3_test, y3_pred)

0.13711201079622132

In [36]:
y3_proba = clf3.predict_proba(X3_test)

In [37]:
ap_sum = 0
for i in range(15):
    ap_sum += average_precision_score(y3_test[:, i], y3_proba[:, i])
    print(i+1, "class's AP: ", average_precision_score(y3_test[i], y3_proba[i]))
mAP = ap_sum/15
print(mAP)

1 class's AP:  0.5916666666666666
2 class's AP:  0.8333333333333333
3 class's AP:  0.6666666666666666
4 class's AP:  0.7916666666666666
5 class's AP:  0.6666666666666666
6 class's AP:  -0.0
7 class's AP:  0.8095238095238095
8 class's AP:  0.5
9 class's AP:  0.8333333333333333
10 class's AP:  0.375
11 class's AP:  -0.0
12 class's AP:  0.75
13 class's AP:  0.325
14 class's AP:  0.8666666666666667
15 class's AP:  0.2851851851851852
0.43360453976911445

In [38]:
average_precision_score(y3_test, y3_proba)

0.43360453976911445